@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Karla", Inter, sans-serif;
  background-color: #1f2937;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
}

main {
  padding: 2rem;
  line-height: 2rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  line-height: 3rem;
}

h1 span {
  color: #0ee69e;
}

p {
  text-align: center;
  margin-top: 1rem;
  color: #d5d4d8;
  font-size: 1rem;
}

.controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0;
  gap: 1rem;
}

.controllers span {
  color: #1f2937;
  font-size: 1.2rem;
  width: 6rem;
  height: 2rem;
  text-align: center;
  border-radius: 50rem;
  background-color: white;
}

.controllers small {
  color: #d5d4d8;
  font-size: 0.6rem;
}

.character-amount-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.character-amount-container .range-input {
  width: 7rem;
  cursor: pointer;
}

.character-amount-container .number-input {
  width: 6.5rem;
}

.generator-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.generator-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  margin-top: 1.5rem;
  width: 10rem;
  height: 3rem;
  background: #0dc98a;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  gap: 0.5rem;
  cursor: pointer;
}

.generator-btn button:hover {
  background-color: #0dc98a7c;
}

.rate-siblings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line {
  margin: 2rem 0;
  width: 100%;
}

.line hr {
  border: none;
  border-top: 2px solid #b7b7d4;
  opacity: 0.1;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
}

.inputs button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #1f2937;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.inputs svg {
  width: 1.2rem;
  fill: white;
}

input {
  margin: 0.5rem;
  padding: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  color: #0dc98a;
  font-weight: 800;
  outline: none;
}

.input-shell-1 {
  width: 17.5rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7dc0ff13;
  margin-bottom: 1rem;
}

.input-shell-2 {
  width: 17.5rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7dc0ff13;
  margin-bottom: 1rem;
}

.input-shell-3 {
  width: 17.5rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7dc0ff13;
  margin-bottom: 1rem;
}

.input-shell-4 {
  width: 17.5rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7dc0ff13;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */